
.NotesList {
  max-width: 600px;
  margin: 10px auto;
}

.NotesList_text {
  padding: 10px 10px 0;
  display: block;
  font-size: 1.4em;
}

.NotesList_note {
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 5px #aaa;
    border-radius: 3px;
}

.NotesList_link {
  display: block;
  text-decoration: none;
  font-size: 1.6em;
  color: #33f;
  font-weight: bold;
}    

.NotesList_date {
  float: right;
}
